body {
    background: linear-gradient(270deg, #0e5794, #0770c5);
    height: 100vh;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 400ms ease;
}

#root,
.container {
    width: 100%;
    height: 100%;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 60px;
    height: 95%;
    position: fixed;
    right: 2%;
    background-color: rgba(240, 248, 255, 0.356);
    border-radius: 20px;
    top: 2.5;
    overflow: auto;
}

header nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30%;
}

header nav ul {
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    display: flex;
    flex-direction: row-reverse;
    text-decoration: none;
    justify-content: flex-start;
    width: 100%;
    position: relative;
}



header nav ul li a img {
    width: 40px;
}

header nav .logo {
    width: 50px;
    justify-self: flex-end !important;
    align-self: center;
}

.container .AboutBox,
.container .TasksBox {
    width: 900px;
    height: 600px;
    background-color: #1478ca55;
    border-radius: 80px;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(100%);
    gap: 20px;
}

.container .TasksBox:hover,
.container .AboutBox:hover {
    transform: translateY(-1%);
}

.container .AboutBox {
    text-align: center;
}

.container .TasksBox .AddPlace {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.container .TasksBox .AddPlace .InputAdd {
    width: 80%;
    height: 50px;
    border-radius: 10px;
    background-color: transparent;
    border: 3px solid black;
    outline: none;
    color: white;
    direction: rtl;
    font-size: 30px;
}

.container .TasksBox .AddPlace .InputAdd::placeholder {
    color: rgba(240, 248, 255, 0.807);
}

.container .TasksBox .AddPlace button {
    width: 400px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.028);
    border: 3px solid black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.container .TasksBox .ListOfTasks{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
    overflow: auto;
}

.container .TasksBox .ListOfTasks .ItemTaskList{
    width: 90%;
    display: flex;
    border-radius: 20px;
    background-color: #188eee;
    gap: 5%;
    padding-left: 2%;
    align-items: center;
}


.container .TasksBox .ListOfTasks .ItemTaskList .status{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 5%;
}

.container .TasksBox .ListOfTasks .ItemTaskList .status input[type='checkbox']{
    all: unset;
    width: 50px;
    outline: none;
    background-color: aliceblue;
    height: 50px;
    border-radius: 20px !important;
}


.container .TasksBox .ListOfTasks .ItemTaskList input[type='checkbox']:checked{
    background:rgb(0, 206, 0);
}


.container .TasksBox .ListOfTasks .ItemTaskList .right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 50%;
    padding-right: 2%;
    gap: 20px;
}
.container .TasksBox .ListOfTasks .ItemTaskList .right .deleteIcon{
    width: 40px;
    cursor: pointer;
}

.container .TasksBox .ListOfTasks .ItemTaskList .right .EditIcon{
    width: 60px;
}